<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <a [routerLink]="[ { outlets: { secondary: ['comp1'] } } ]">Comp1</a><br>
  <a [routerLink]="[ { outlets: { secondary: ['comp2'] } } ]">Comp2</a><br>
  <a [routerLink]="[ { outlets: { secondary: ['comp3'] } } ]">Comp3</a><br>
  <br>
  <br>
  <!-- <ion-router-outlet name="secondary"></ion-router-outlet> -->
  <div>
    Here is our secondary router outlet
    <router-outlet name="secondary"></router-outlet>
  </div>
</ion-content>
